<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-10 col-sm-12 ">
      <div class="section-left">
        <div class="sidebox">
            <div class="title">Category</div>
              <button *ngFor="let item of foodCategory" class="btn1" (click)="onFilterChange(item,'category')"
                      [ngClass]="{'active':selectedType==item}">
                {{item}}
              </button>
          </div>
        <div class="sidebox">
          <div class="title">Price(in Rs.)</div>
          <button *ngFor="let price of priceRange" (click)="onFilterChange(price,'price')" class="btn1"
                  [ngClass]="{'active':selectedType==price}">
            {{price}}
          </button>
        </div>
        <div class="sidebox">
          <div class="title">Ratings</div>
          <button *ngFor="let rating of ratings" (click)="onFilterChange(rating,'rating')" class="btn1"
                  [ngClass]="{'active':selectedType==rating}">
            {{rating}} star
          </button>
        </div>

        <button class="btn1" (click)="clearFilters()"> Clear Filters</button>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h4 class="text-center">List Of Burgers</h4>
          <div class="row">
            <div *ngFor="let item of burgerlist" class="col-sm-4 col-md-3 col-lg-3">
              <div class="product-item">
                <div class="product-name">Name: {{item.name}}</div>
                <div class="content_price">
                  <div class="product-price">New Price: {{item.discountedPrice}}</div>
                  <div class="old-price">Old Price: {{item.price}}</div>
                </div>
                <div class="btn btn-primary" title="Add to Cart" (click)="addItem(item)">
                  Add
                </div>
              </div>
            </div>
            <div *ngIf="burgerlist.length==0" class="text-center">
              No data Found
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shoppingCart" (click)="showCart=!showCart">
    <span>CART</span>
  </div>
  <div class="shoppingCartMenu" *ngIf="showCart==true">
    <h4 class="text-center">ITEMS in cart: {{orderListLength}} </h4>
   <div class="cartContainer">
     <div class="cartItem" *ngFor="let item of orderList "> {{item.name}}</div>
   </div>
    <div *ngIf="orderListLength==0" >Nothing in cart</div>

    <div *ngIf="orderListLength>1"   class="text-center" (click)="placeOrder()">
      <button class="btn1">Place Order</button>
    </div>

  </div>
</div>
