.home {
  position: relative;
}
.product-item {
  text-align: center;
  margin: 8px;
}
.shoppingCart {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: #333369;
  padding: 14px;
  letter-spacing: 4px;
  color: #fff;
  cursor: pointer;
}
.items {
  height: 160px;
}

