<div class="home container">
  <div class="row">
    <div class="col-lg-9 col-md-10 col-sm-12 ">
      <div class="section-left">
        <div class="sideBox">
            <div class="title">Category</div>
              <button *ngFor="let item of foodCategory" class="btn1" (click)="onFilterChange(item,'category')"
                      [ngClass]="{'active':selectedType==item}">
                {{item}}
              </button>
          </div>
        <div class="sideBox">
          <div class="title">Price(in Rs.)</div>
          <button *ngFor="let price of priceRange" (click)="onFilterChange(price,'price')" class="btn1"
                  [ngClass]="{'active':selectedType==price}">
            {{price}}
          </button>
        </div>
        <div class="sideBox">
          <div class="title">Ratings</div>
          <button *ngFor="let rating of ratings" (click)="onFilterChange(rating,'rating')" class="btn1"
                  [ngClass]="{'active':selectedType==rating}">
            {{rating}} star
          </button>
        </div>

        <button class="btn1" (click)="clearFilters()"> Clear Filters</button>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h4 class="text-center">List Of Burgers</h4>
          <div class="row">
            <div *ngFor="let item of burgerList" class="col-xs-6 col-sm-4 col-lg-3 items">
              <div class="product-item">
                <div> <b>{{item.name}}</b></div>
                <div>
                  <div>New Price: {{item.discountedPrice}}</div>
                  <div class="old-price">Old Price: {{item.price}}</div>
                </div>
                <div class="btn btn-primary" title="Add to Cart" (click)="addItem(item)">
                  Add
                </div>
              </div>
            </div>
            <div *ngIf="burgerList.length==0" class="text-center">
              No data Found
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shoppingCart" (click)="showCart=!showCart">
    <span>CART</span>
  </div>
  <app-order [showCart]="showCart" [orderList]="orderList" [orderListLength]="orderListLength">

  </app-order>
</div>
